* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 70%;
  font-family: arial, sans-serif;
  color: #221F51;
}

.wrapper {
  font-size: 1.6em;
  padding: 2em;
  margin: 0 auto;
  width: 990px;
  background-color: white;
}

.sb-item {
  height: 200px; /* NEW */
  width: 100px; /* NEW */
  list-style-type: none;
  margin-bottom: 0px;
  padding-top: 50px; /* NEW */
  display: inline; /* NEW */
  margin-left: 35px; /* NEW */
}

.sb-icon-list {
  margin-bottom: 30px; /* NEW */
  padding-top: 20px;
  width: 540px; /* NEW */
  display: inline-block;
}


/* Icons for sidebar list */
.first-sb {
  background: url('../images/home_black.png') top left no-repeat;
}
.second-sb {
  background: url('../images/profile_black.png') top left no-repeat;
}
.third-sb {
  background: url('../images/blog_black.png') top left no-repeat;
}
.fourth-sb {
  background: url('../images/portfolio_black.png') top left no-repeat;
}
.fifth-sb {
  background: url('../images/contact_black.png') top left no-repeat;
}

.list-span{
  display: inline-block;
  padding-left: 0px; /* NEW */
  font-size: 1.4em;
}

#article {
  display: inline-block;
  width: 160px;
  margin-right: 16px;
}

#aside{
  width:25%;
  float:left;
  margin: 0 auto;
}

#my_image{
  width:150px;
  height: 150px;
  margin: 10px;
}

#img{
  width: 150px;
  height:150px;
}

#main{
  width:75%;
  margin: 0 auto;
  float:right;
}

#footer{
  clear: both;
  text-align: center;
}
